.homeContainer {
  width: 100%;
  height: calc(100vh - 1rem);
  
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
}

.homeContainer .avatar img {
  width: 24rem;
}

.homeContainer .infos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.homeContainer .infos .h1-icon {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.homeContainer .infos img {
  width: 3.5rem;
}

.homeContainer .infos .h1-icon h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1px;
  font-family: "Quicksand", sans-serif;
  text-transform: capitalize;
  color: rgb(12, 12, 12);
}

.homeContainer .infos .shortInfo {
  display: flex;
  justify-content: flex-start;
}

.homeContainer .infos .shortInfo p {
  color: rgb(12, 12, 12);
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.8rem;
  width: 40rem;
}

.homeContainer .infos .shortInfo .pin {
  color: #ffaf04;
  font-size: 2rem;
}

.homeContainer .infos .socialContact {
  cursor: pointer;
  display: flex;
  gap: .5rem;
 
}

.homeContainer .infos .socialContact a {
  color: #ffaf04;
  font-size: 2rem;
}

.homeContainer .techStack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  width: 100%;
}

.homeContainer .techStack h3 {
  color: rgb(12, 12, 12);
  font-size: 1.1rem;
}

.homeContainer .techStack .logos {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.homeContainer .techStack .logos .logo1 {
  width: 1.8rem;
}

.homeContainer .techStack .logos .logo2 {
  width: 2.2rem;
}

.homeContainer .techStack .logos .logo3 {
  width: 2rem;
}

.homeContainer .techStack .logos .logo4 {
  width: 3.5rem;
}

.homeContainer .techStack .logos .logo5 {
  width: 1.8rem;
}

.homeContainer .techStack .logos .logo6 {
  width: 3rem;
}

.homeContainer .techStack .logos .logo7 {
  width: 2.2rem;
}


@media (max-width: 1450px) {
  .homeContainer {
    justify-content: center;
    gap: 5rem;
  }

  .homeContainer .infos .h1-icon h1 {
    font-size: 2.5rem;
  }

  .homeContainer .infos img {
    width: 2.8rem;
  }

  .homeContainer .infos .shortInfo p {
    font-size: 1.4rem;
    width: 35rem;
  }

  .homeContainer .infos .socialContact a {
    font-size: 1.8rem;
  }

  .homeContainer .avatar img {
    width: 20rem;
  }


}

@media (max-width: 1200px) {
  .homeContainer {
    justify-content: center;
    flex-direction: column-reverse;
    gap: 5rem;
  }

  .homeContainer .infos .h1-icon h1 {
    font-size: 2rem;
  }

  .homeContainer .infos img {
    width: 2.2rem;
  }

  .homeContainer .infos .shortInfo p {
    font-size: 1.1rem;
    width: 30rem;
  }

  .homeContainer .infos .socialContact a {
    font-size: 1.5rem;
  }

  .homeContainer .avatar img {
    width: 14rem;
  }

  .homeContainer .techStack {
    gap: 5rem;
  }

  .homeContainer .techStack .logos {
    gap: 2rem;
  }

  .homeContainer .techStack .logos .logo1 {
    width: 1.3rem;
  }

  .homeContainer .techStack .logos .logo2 {
    width: 1.7rem;
  }
  
  .homeContainer .techStack .logos .logo3 {
    width: 1.5rem;
  }
  
  .homeContainer .techStack .logos .logo4 {
    width: 3rem;
  }
  
  .homeContainer .techStack .logos .logo5 {
    width: 1.3rem;
  }


}