.homeContainer {
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16rem;
}

.homeContainer .avatar img {
  width: 25rem;
}

.homeContainer .infos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.homeContainer .infos .h1-icon {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.homeContainer .infos img {
  width: 5rem;
}

.homeContainer .infos .h1-icon h1 {
  font-size: 4.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Quicksand", sans-serif;
  text-transform: capitalize;
  color: rgb(12, 12, 12);
}

.homeContainer .infos .shortInfo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.homeContainer .infos .shortInfo p {
  color: rgb(12, 12, 12);
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 2.2rem;
  width: 50rem;
}

.homeContainer .infos .shortInfo .pin {
  color: #ffaf04;
  font-size: 3rem;
}

.homeContainer .infos .socialContact {
  display: flex;
  gap: 1rem;
  width: 6rem;
}

.homeContainer .infos .socialContact a {
  color: #ffaf04;
  font-size: 3rem;
  cursor: pointer;
}

.homeContainer .techStack {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  gap: 7rem;
  width: 100%;
}

.homeContainer .techStack h3 {
  color: rgb(12, 12, 12);
  font-size: 1.7rem;
  font-weight: 600;
}

.homeContainer .techStack .logos {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.homeContainer .techStack .logos .logo1 {
  width: 2.5rem;
}

.homeContainer .techStack .logos .logo2 {
  width: 3rem;
}

.homeContainer .techStack .logos .logo3 {
  width: 2.7rem;
}

.homeContainer .techStack .logos .logo4 {
  width: 5.3rem;
}

.homeContainer .techStack .logos .logo5 {
  width: 2.5rem;
}

.homeContainer .techStack .logos .logo6 {
  width: 4.7rem;
}

.homeContainer .techStack .logos .logo7 {
  width: 3rem;
}


@media (max-width: 1200px) {
  .homeContainer {
    justify-content: center;
    flex-direction: column-reverse;
    gap: 5rem;
  }

  .homeContainer .infos .h1-icon h1 {
    font-size: 4rem;
  }

  .homeContainer .infos img {
    width: 5rem;
  }

  .homeContainer .infos .shortInfo p {
    font-size: 1.6rem;
    width: 47rem;
  }

  .homeContainer .infos .socialContact a {
    font-size: 2.3rem;
  }

  .homeContainer .avatar img {
    width: 20rem;
  }

  .homeContainer .techStack {
    gap: 5rem;
  }

  .homeContainer .techStack .logos {
    gap: 2rem;
  }

  .homeContainer .techStack .logos .logo1 {
    width: 2.2rem;
  }

  .homeContainer .techStack .logos .logo2 {
    width: 2.6rem;
  }
  
  .homeContainer .techStack .logos .logo3 {
    width: 2.4rem;
  }
  
  .homeContainer .techStack .logos .logo4 {
    width: 4.5rem;
  }
  
  .homeContainer .techStack .logos .logo5 {
    width: 2.2rem;
  }

  .homeContainer .techStack .logos .logo6 {
    width: 3.8rem;
  }
  
  .homeContainer .techStack .logos .logo7 {
    width: 2.6rem;
  }

}

@media (max-width: 700px) {
  .homeContainer {
    justify-content: center;
    flex-direction: column-reverse;
    gap: 5rem;
  }

  .homeContainer .infos .h1-icon h1 {
    font-size: 3rem;
  }

  .homeContainer .infos img {
    width: 3.5rem;
  }

  .homeContainer .infos .shortInfo p {
    font-size: 1.5rem;
    width: 45rem;
  }

  .homeContainer .infos .socialContact a {
    font-size: 2.3rem;
  }

  .homeContainer .avatar img {
    width: 20rem;
  }

  .homeContainer .techStack {
    gap: 5rem;
  }

  .homeContainer .techStack .logos {
    gap: 2rem;
  }

  .homeContainer .techStack .logos .logo1 {
    width: 2.2rem;
  }

  .homeContainer .techStack .logos .logo2 {
    width: 2.6rem;
  }
  
  .homeContainer .techStack .logos .logo3 {
    width: 2.4rem;
  }
  
  .homeContainer .techStack .logos .logo4 {
    width: 4.5rem;
  }
  
  .homeContainer .techStack .logos .logo5 {
    width: 2.2rem;
  }

  .homeContainer .techStack .logos .logo6 {
    width: 3.8rem;
  }
  
  .homeContainer .techStack .logos .logo7 {
    width: 2.6rem;
  }
}

@media (max-width: 540px) {
  .homeContainer {
    justify-content: center;
    flex-direction: column-reverse;
    gap: 5rem;
  }

  .homeContainer .infos .h1-icon h1 {
    font-size: 2.6rem;
  }

  .homeContainer .infos img {
    width: 3rem;
  }

  .homeContainer .infos .shortInfo p {
    font-size: 1.4rem;
    width: 36rem;
  }

  .homeContainer .infos .socialContact a {
    font-size: 2rem;
  }

  .homeContainer .avatar img {
    width: 17rem;
  }

  .homeContainer .techStack {
    gap: 5rem;
  }

  .homeContainer .techStack .logos {
    gap: 1rem;
  }

  .homeContainer .techStack .logos .logo1 {
    width: 2rem;
  }

  .homeContainer .techStack .logos .logo2 {
    width: 2.4rem;
  }
  
  .homeContainer .techStack .logos .logo3 {
    width: 2.2rem;
  }
  
  .homeContainer .techStack .logos .logo4 {
    width: 4.3rem;
  }
  
  .homeContainer .techStack .logos .logo5 {
    width: 2rem;
  }

  .homeContainer .techStack .logos .logo6 {
    width: 3.6rem;
  }
  
  .homeContainer .techStack .logos .logo7 {
    width: 2.4rem;
  }
}