.projectsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 8rem);
  margin-top: 8rem;
  padding-bottom: 2rem;
}

.projectsContainer .projectBoxes .box img {
  width: 25rem;
  height: 15rem;
  border-radius: 5px;
}

.projectsContainer .projectBoxes {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  flex-wrap: wrap;
  width: 100%;
}

.projectsContainer .projectBoxes .box {
  width: 25rem;
  height: 15rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectsContainer .projectBoxes .box:hover {
  transform: scale(1.1);
}

.projectsContainer .projectBoxes .webProjects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectsContainer .projectBoxes .smallProjects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectsContainer .projectBoxes .webProjects h1,
.smallProjects h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #eab60b;
}

.projectsContainer .projectBoxes .webProjects .projects,
.smallProjects .projects {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

@media (max-width: 960px) {
  .projectsContainer .projectBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projectsContainer .projectBoxes .webProjects {
    gap: 2.5rem;
  }

  .projectsContainer .projectBoxes .smallProjects {
    gap: 2.5rem;
  }

  .projectsContainer .projectBoxes .projects {
    display: flex;
    justify-content: center;
  }

  .projectsContainer .projectBoxes .webProjects h1,
  .smallProjects h1 {
    text-align: center;
  }

  .projectsContainer .projectBoxes .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .projectsContainer .projectBoxes .box img {
    width: 20rem;
    height: 10rem;
  }
  .projectsContainer .projectBoxes .box {
    width: 20rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
  }
}
